html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", "Helvetica Neue";
}

body {
  background-color: #fbfcff;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 20px;
    color: #020202;
    margin: 15px 0 20px 0;

}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 40px 0;
}

body{
    width: 100%;
    font-family: inherit;
}

#header{
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #d1cbda;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity{
    background-color: rgb(153, 92, 92);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 5px;
    font-size: 7px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a:active{
    color: #088178;
}

#navbar li  a:hover::after,
#navbar li  a:active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url(assets/products/dress\ 2.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1;
}

#hero h1{
    color: #088178;
}

#hero h4{
    padding-bottom: 15px;
}

#hero button{
    background-color: transparent;
    background-color: #2876b6;
    color: #fff;
    border: 0;
    padding: 14px 80px 14px 65px;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #2b6460;
    background-color: hsl(345, 100%, 99%);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #eff5f8;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#products{
    text-align: center;
}

#products .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#products  .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#products  .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#products  .pro img{
    width: 100%;
    border-radius: 20px;
    height: auto;
    max-width: 300px;
}

#products  .pro .des{
    text-align: start;
    padding: 10px 0;
}

#products  .pro .des span{
    color: #606063;
    font-size: 12px;
}

#products  .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#products  .pro .des i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#products .pro .des h4{
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
    color: #1c2222;
}

#products .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #adc7b1;
    font-weight: 500;
    color: #4a7572;
    border: 1px solid #e6eee7;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #2876b6;
}
#newsletter h4 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

#newsletter p {
  color: #020202;
  font-weight: 500;
  font-size: 20px;
}

#newsletter p span {
 color: yellow;
}

#newsletter input {
  height: 3.125rem;
  width: 100%;
  font-size: 14px;
  padding: 0 1.25em;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #3d8b86;
    color: #fff;
    white-space: nowrap;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 50px;
}

footer .sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .logo{
    margin-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer  a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;

}

footer .follow i{
    color: #27352f;
    padding-right: 5px;
    cursor: pointer;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .install .row img{
    border: 1px solid #1e2222;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
